* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.square{
  width: 16px;
  height: 16px;
  background-color: black;
  margin: 2px;
  box-shadow: 0 0 2px, black;
  transition: 1.4s ease-in;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  flex-wrap: wrap;
}

.square:hover {
  transition-duration: 0s;
}